body, html {
	  height: 100%;
	}
    .pozadina {
        overflow: hidden;
        background-image: url('Slike/bar3.jpg');
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100%;
        
        
    }
 
    #box {
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 5px;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(5px);
        height: 100%;
        width: 35%;
        padding: 70px 40px;
        background-position: -60px 880px;
        margin-left: auto;
        margin-right: auto;
      }

      .h1{
        font-family: 'Courier New', Courier, monospace;
        font-size: 30px;
        font-weight: bold;
       font-style: italic;
      }

    
    .gumbić{
      border: none;
      cursor: pointer;
      appearance: none;
      background-color: inherit;
       transition: transform .7s ease-in-out;
      margin-left:10px;

    }
    .gumbić:hover{
      transform: rotate(360deg);

    }
    .ikonice{
      width: 150px;
      height: 150px;
      padding: 10px
    }

    input.button-add {
        background-image: url(Slike/Votka.jpg); /* 16px x 16px */
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: 0px 0px;  /* equivalent to 'top left' */
        border: line;           /* assuming we don't want any borders */
        cursor: pointer;        /* make the cursor like hovering over an <a> element */
        height: 150px;           /* make this the size of your image */
        width: 150px;
        padding-left: 16px;     /* make text start to the right of the image */
        vertical-align: middle; /* align the text vertically centered */
    }