body, html {
	  height: 100%;
	}
    .pozadina {
        
        overflow: hidden;
        background-image: url('Slike/bar3.jpg');
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100%;
        





    }
    
    .bluranje {
        background-color: gray;
        background-position: -60px 880px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        filter: blur(10px);
        height: 100%;
        width: 35%;
        margin-left: auto;
        margin-right: auto;
        opacity: 0.8;
    }

    
    